target/
!.mvn/wrapper/maven-wrapper.jar
.project
!src/main/resources/apiproject/.project

### STS ###
.apt_generated
.classpath
.factorypath
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/